<div class="requests-body">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>Reason</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>
          <img src="./../../../assets/media/9.png" alt="">
          <p class="user-data">
            <span>Ahmad Sami</span>
            <span>Alb Hala@gmail.com</span>
          </p>
        </td>
        <td>15-02-2021</td>
        <td>20-02-2021</td>
        <td>5</td>
        <td title="My daughter wedding next month and its very important for me to be there">
          My daughter wedding next month and its very important for me to be there
        </td>
        <td>
          <button><i class="far fa-check"></i></button>
          <button><i class="far fa-times"></i></button>
        </td>

      </tr>

    </tbody>
  </table>
</div>