<div id="request">

  <button class="close-btn">
    <i class="fal fa-times"></i>
    Close
  </button>

  <div class="form-body">

    <div id="user">
      <img src="./9.png" alt="">

      <div class="user-data">
        <p class="name">Hala My Love</p>
        <p class="position">Manager</p>
      </div>
    </div>

    <div class="form-data">

      <div class="request-data">

        <div class="data-block">
          <p>From</p>
          <p>15-02-2021</p>
        </div>

        <div class="data-block">
          <p>To</p>
          <p>15-02-2021</p>
        </div>

        <div class="data-block">
          <p>Days</p>
          <p>5</p>
        </div>

        <div class="data-block">
          <p>Remaining Days</p>
          <p>4</p>
        </div>

      </div>

      <div class="request-note">
        <p>My daughter wedding next month and its very important for me to be
          there</p>
      </div>

      <div class="actions">

        <button>
          <i class="fal fa-check"></i>
        </button>

        <button>
          <i class="fal fa-times"></i>
        </button>


      </div>

    </div>


  </div>
</div>