@import './../../../styles.scss';

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .left-controls {
      display: flex;
      align-items: center;
      gap: 20px;

      input[type="text"] {
        width: 45%;
      }
    }

  }